@import url('https://fonts.googleapis.com/css?family=Catamaran:800,400');

body{
  margin: 0;
}
.wrap{
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
}
.displayPict{
  height: 100vh;
  overflow: hidden;
  position: relative;

}
.content{
 position: absolute;
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cover{
  width: 100%;
}
.content > h1{
  font-family: 'Catamaran', sans-serif;
  font-size: 60px;
  word-spacing: auto;
  text-align: center;
  color: white;
}
.content > p{
  font-family: 'Catamaran', sans-serif;
  font: 400;
  font-size: 30px;
  word-spacing: auto;
  text-align: center;
  color: white;
}

.images{
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 16px;
}

.image{
  width: 23vw;
  height: 45vh;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  overflow: hidden;
  margin: 8px;
}
.shots{
  object-fit: cover;
  width: 100%;
  height: 100%
}

.images > a{
  width: 100%;
  height: 100%;
}
.images > a > .shots{
  width: 100%;
}
.logout{
  font-family: 'Catamaran', sans-serif;
  position: absolute;
  text-decoration: none;
  color: white;
  top: 0;
  right: 0;
  font-size: 20px;
  margin: 23px;
}
.postinfo{
  position: absolute;
  color: white;
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  margin-left: 16px;
}